@import url(./fonts.css);
@import url(./variables.css);
@import url(./reset.css);

body {
    background-color: var(--colorUltraLightGrey);
}

header, main, footer {
    margin: 0 auto;
    max-width: 900px;
    min-width: 500px;
    width: 100%;
}

header {
    display: flex;
    height: 180px;
    background-color: var(--colorLightGrey);
}

header > img {
    width: 25%;
    min-width: 170px;
    height: 100%;
    object-fit: cover;
}

header > h1 {
    align-self: center;
    margin: 0 0 0 5%;
    font-family: "MontserratLight", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 12px;
    color: var(--colorWhite);
}

main {
    display: flex;
    min-height: 300px;
    height: calc(100vh - 180px - 35px);
}

main > nav {
    width: 25%;
    min-width: 170px;
    height: 100%;
    background-color: var(--colorLightGrey);
}

.navigation {
    margin: 25px auto;
    width: 150px;
}

.navigation > li {
    width: max-content;
    list-style: none;
    margin-bottom: 15px;
    font-family: "MontserratLight", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--colorWhite);
    letter-spacing: 1px;
    cursor: pointer;
}

.navigation > li:hover {
    color: var(--colorYellow);
}

.section__container {
    flex: 1;
    background-color: var(--colorGrey);
}

section {
    display: none;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

section > h2 {
    margin: 0 auto;
    max-width: max-content;
    font-family: "MontserratLight", sans-serif;
    font-size: 22px;
    font-weight: 200;
    color: var(--colorWhite);
    letter-spacing: 2px;
}

section.current {
    display: block;
}

footer {
    height: 35px;
    display: flex;
}

.footer__left {
    background-color: var(--colorGrey);
    height: 100%;
    width: 25%;
    min-width: 170px;
    text-align: center;
    flex-shrink: 0;
}

.footer__left > time {
    display: inline-block;
    margin-top: 9px;
    font-family: "MontserratMedium", sans-serif;
    color: var(--colorWhite);
    letter-spacing: 2px;
    font-size: 14px;
}

.footer__right {
    background-color: var(--colorLightGrey);
    height: 100%;
    flex-grow: 1;
}